<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息详情</title>
</head>
<body>
    <h2>用户信息</h2>
    <div>
        <ul>
            <li th:text="${user.id}"></li>
            <li th:text="${user.userName}"></li>
            <li th:text="${user.passWord}"></li>
            <li th:text="${user.status}"></li>
            <li th:text="${user.createTime}"></li>
            <li th:text="${user.createUser}"></li>
            <li th:text="${user.updateTime}"></li>
            <li th:text="${user.updateUser}"></li>
        </ul>
    </div>
</body>
</html>