<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jiayuli.allsome.mapper.custom.MysqlSequenceMapper">
    <!--注意上面的namespace一定要修改-->
<!--
1）当为select语句时：
flushCache默认为false，表示任何时候语句被调用，都不会去清空本地缓存和二级缓存。
useCache默认为true，表示会将本条语句的结果进行二级缓存。
（2）当为insert、update、delete语句时：
flushCache默认为true，表示任何时候语句被调用，都会导致本地缓存和二级缓存被清空。
-->
    <!--以下是新增的方法-->
    <select id="seqUserCurrentVal" resultType="java.lang.Long" useCache="false" flushCache="true">
        SELECT currval('seq_user');
    </select>
    <select id="seqUserNextVal" resultType="java.lang.Long" useCache="false" flushCache="true">
        SELECT nextval('seq_user');
    </select>

</mapper>
