<html>
<body>
亲爱的${toUserName}，你好！

    ${message}

祝：开心！
    ${fromUserName}
    ${time}

<br>
    #set($foo = 2333)
    ${foo}
<br>$foo
<br>$!{foo}
    ${fot}
<br>$fot
<br>$!{fot}

## 声明宏
    #macro(sayHello $name $age)
    hello $!{name},your age are $!{age}!
    #end
## 使用宏
    #sayHello("NICK",21)
    #sayHello("TOMCAT")

## 判断null
    #set($isNull = '')
    a$isNull a
<br>
    b${isNull} b
<br>
    c$!{isNull} c
<br>
    #if($null.isNull($isNull))
        bbbbbbb
    #else
        ccccccc
    #end
</body>
</html>